html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 0px;
}

.logo__image {
  width: 130px;
}
.navbar {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: #000;
}

/* .navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  width: 80%;
  margin: 0 auto;
} */
/* hacktoberFest changes */
.navbar_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 85px;
  width: 81%;
  margin: 0 auto;
}
.logo {
  flex: 1;
}
.links {
  display: flex;
  flex: 0.8;
  justify-content: space-evenly;
}
.links a {
  color: #fff;
  transition: color 0.3s ease-in-out;
  font-weight: bolder;
  font-size: 14px;
}
.auth__link {
  color: rgb(184, 171, 171) !important;
}
.links a:hover {
  color: #1ed760;
}
.divider {
  border: 0.5px solid #fff;
}
.home__hero {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(41, 65, 171);
  /* background-color: rgb(41, 65, 171);
  background-image: url("https://www-growth.scdn.co/static/home/bursts.svg");
  background-size: 175%;
  background-position-x: 46%;
  background-position-y: 4%;
  -webkit-box-pack: center; */
  justify-content: center;
  min-height: 846px;
}
.centered {
  width: 85%;
  text-align: center;
  margin: 10px auto;
}
.center__heading {
  width: 80%;
  margin: 10px auto;
}
.heading__first {
  display: flex;
  width: 100%;
  height: 105px;
  margin-bottom: 45px;
}
.heading__second {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.heading__first > h1 {
  font-size: 155px;
  color: #1ed760;
}
.heading__second > h1 {
  font-size: 125px;
  color: #fff;
}
.subheading {
  color: #1ed760;
  font-weight: bold;
}
.btn__get {
  padding: 1.1rem;
  margin-top: 45px;
  display: inline-block;
  border-radius: 65px;
  background-color: #1ed760;
  color: rgb(255, 255, 255);
  font-weight: 400;
  width: 250px;
  transition: transform 0.5s;
}
.btn__get:hover {
  transform: scale(1.04);
}
.toggle {
  color: #fff;
}

footer {
  padding: 25px;
  background-color: #000;
  font-size: 16px;
  font-weight: 400;
  width: 100%;
  color: #fff;
  height: 100%;
  font-family: Circular, spotify-circular, Helvetica, Arial, sans-serif;
}

.footer__nav {
  margin: 0px auto;
  width: 95%;
  grid-template-columns: 1fr 2fr 2fr;
}
.footer__links {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
}

dl {
  padding: 0 15px;
  margin: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
dt {
  margin: 20px 0;
  color: #919496;
  font-size: 12px;
  font-weight: 900;
  line-height: 1.4;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  display: block;
}

dd {
  margin: 0;
}

dd a {
  padding: 3px 0 15px;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
}

dd a:hover {
  color: #1ed760;
}

/* .social__links {
  margin: 0 15px 0 auto;
} */
/* hacktoberFest changes */
.social__links {
  margin: 0 5px 0 auto;
}

.social__links ul {
  margin: 20px 0 0;
  padding: 0;
  list-style: none;
}
.social__links > ul > li {
  margin-right: 15px;
  display: inline-block;
}
.social__links > ul > li > a {
  border-radius: 50%;
  background-color: #222326;
  color: #fff;
  width: 54px;
  display: flex;
  height: 54px;
  align-items: center;
  justify-content: center;
}
.social__links > ul > li > a > i {
  font-size: 25px;
  transition: color 0.2s ease-in-out;
}

.social__links > ul > li > a > i:hover {
  color: #1ed760;
}

.hero_premium_top {
  background-color: rgb(29, 117, 222);
  color: rgb(255, 255, 255);

  text-align: left;
  margin: 0;
  overflow-x: auto;
  overflow-y: auto;
  background-image: initial;
  background-position-x: initial;
  background-position-y: initial;
  background-size: initial;
  background-repeat-x: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  display: block;
}
.article__top__header {
  width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  margin-right: auto;
  padding-top: 0px;
  padding-bottom: 0px;
  min-height: 480px;
}
.jDwODi {
  display: flex;
  flex-direction: column;
  padding: 25px;
  margin: 65px auto;
  width: 100%;
}
.header__top__heading {
  display: block;
}

.header__top__subheading {
  display: block;
}
.header__top__subheading > h2 {
  width: auto;
  margin-top: 30px;
  margin-right: 0px;
  font-size: 24px;
  margin-bottom: 0px;
  font-weight: 400;
}

.header__top__heading > h1 {
  font-size: 50px;
  line-height: 1.2;
  margin-top: 0px;
  padding-top: 0px;
  max-width: 100%;
}

.header__top__buttons {
  margin-top: 35px;
  margin-right: 0px;
  margin-bottom: 0px;
  display: flex;
  justify-content: flex-start;
}

.header__top__buttons > div:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 0px;
}

.button__start,
.button__plans {
  padding: 1.2rem;
  border: 2px solid #ddd;
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 65px;
  color: rgb(218, 211, 211);
  transition: transform 0.5s;
}
.button__start {
  background-color: #000;
  border: 0px;
}

.button__start:hover,
.button__plans:hover {
  transform: scale(1.04);
}

.hero__middle_premium {
  overflow-x: auto;
  overflow-y: auto;
}
.hero__article__wrapper {
  font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
  margin-top: 0px;
  margin-right: auto;
  padding-top: 35px;
  padding-left: 15px;
  padding-bottom: 35px;
  padding-right: 15px;
  max-width: 100%;
  min-width: 85%;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  text-align: left;
  margin: 0 auto;
}

.hero__middle__header {
  font-family: spotify-circular, Circular, Helvetica, Arial, sans-serif;
  text-align: center;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}
.hero__middle__title {
  font-size: 48px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  line-height: 1.5;
  letter-spacing: -0.015em;
  font-weight: bolder;
  margin-bottom: 78px;
}

.hero__middle__features {
  padding-top: 0px;
  margin-top: 0px;
  list-style-type: none;
  list-style-position: initial;
  list-style-image: initial;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.hero__middle__feature_list {
  margin-bottom: 20px;
  text-align: -webkit-match-parent;
}

.list__image {
  background-position-x: center;
  background-position-y: top;
  margin-right: 20px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  width: 142px;
  height: 142px;
  background-size: contain;
}
.music {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f43009302fbaf6259b4c117c704f");
}
.interrupt {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f43098292b95d24a697c20df5137");
}
.any__song {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f4306998d3ffd58aad6da6afdf67");
}
.skips {
  background-image: url("https://i.scdn.co/image/ab671c3d0000f430cd6c528745e510c5be63a012");
}

.feature__title {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 21px;
  padding-top: 0px;
  line-height: 1.3em;
  box-sizing: border-box;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  display: block;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

.feature__subtitle {
  line-height: 1.5;
  font-size: 16px;
  padding-top: 0px;
  box-sizing: border-box;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  display: block;
  font-weight: 400;
  letter-spacing: 0.25px;
  color: inherit;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.plans {
  overflow: hidden;
  padding: 35px;
  background-color: #fafafa;
}
.plan__wrapper {
  width: 95%;
  margin: 25px auto;
}

.heading__plan {
  display: block;
  text-align: center;
}
.heading__plan > h1 {
  font-size: 40px;
}

.plans__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 20px;
  grid-gap: 20px;
}

.plan__card {
  background-color: #ffff;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.443);
  border-radius: 10px;
  justify-content: space-between;
}
.plan__card > .card__top h3 {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 5px;
  padding-top: 0px;
}
.card__divider {
  border-bottom: 1px solid #000;
}
.months__perios {
  padding: 0.5rem;
  background-color: rgb(0, 110, 255);
  display: inline-block;
  color: #fff;
  border-radius: 10px;
}
.price_per_month {
  font-weight: 400;
  font-size: 18px;
}

.card__plan__features {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.card__plan__features > li {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.get_start_button {
  padding: 0.8rem;
  border: 1px solid #ccc !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000 !important;
  color: #fff !important;
  border-radius: 65px;
  font-weight: 500;
}

.support {
  background-image: url(https://support.scdn.co/web/_next/static/assets/facd29a/search-desktop.webp);
  overflow: hidden;
}
.support__hero {
  width: 90%;
  margin: 35px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.heading__suport > h1 {
  color: #fff;
  font-size: 64px;
  line-height: 72px;
}

.support__search {
  width: 100%;
  height: 54px;
  border: 1px solid #fff;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.413);
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
.support_quick__links {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 25px;
}
.help__link {
  text-align: center;
}
.help__link > h4 {
  margin: 35px auto;
  padding: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
  color: #999;
  letter-spacing: 0.1em;
}
.help__link > a {
  color: #fff;
  font-size: 18px;
}

.download__section {
  text-align: center;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.download__hero {
  width: 100%;
  padding: 45px;
  background-color: #6aff9e;
}
.download__section {
  width: 80%;
  margin: 10px auto;
  padding: 65px;
}
.download__heading > h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  padding-bottom: 24px;
}
.download__subheading > p {
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: inherit;
  box-sizing: border-box;
  font-family: spotify-circular, Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: transparent;
  display: block;
  padding: 0px 0px 1em;
  margin-top: 0px;
}
.download__btn {
  width: 200px;
  padding: 0.8rem;
  font-weight: 700;
  background-color: #fff;
  border-radius: 65px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}
.download__btn:hover {
  transform: scale(1.04);
  box-shadow: 1px 1px 35px 0 rgba(0, 0, 0, 0.267);
}

.sidenav {
  width: 65%;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.712);
  right: 0px;
  top: 50px;
  transition: all 0.2s ease-in-out;
  backdrop-filter: blur(10px);
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  padding: 10px;
  z-index: 999;
}
.logo__image__sidenav {
  width: 110px;
  position: absolute;
  top: 10px;
  left: 105px;
  margin-bottom: 45px;
  transition: all 0.8s;
}
.sidenav__disable {
  right: -550px;
  align-items: flex-end;
}
.side__links {
  margin-top: 65px;
  width: 100%;
  position: absolute;
  left: 100px;
  list-style-type: none;
  color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 45%;
  position: absolute;
  top: 10px;
  margin-left: 0;
  align-items: flex-start;
  transition: all 0.8s;
}
.side__links__animate {
  left: 0px;
  color: #fff;
}
.logo__image__sidenav__animate {
  left: 35px;
}
.divider_mobile {
  border-bottom: 5px solid #fff;
  width: 100px;
}
.side__links > li > a {
  font-size: 38px;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
.side__links > li > a:hover {
  color: #1ed760;
}

.container__reg {
  width: 90%;
  margin: 10px auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.reg__icon {
  width: 100px;
}

.form__section {
  width: 85%;
  margin: 35px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form__section > h2 {
  margin-top: 40px;
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.04em;
  font-size: 32px;
}
.facebook__signup__button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 22px;
}
.facebook__signup__button > a {
  transition-property: background-color, border-color, color, box-shadow, filter,
    transform;
  width: 450px;
  display: flex;
  user-select: none;
  padding: 1.5rem;
  align-items: center;
  font-weight: 700;
  justify-content: center;
  transform: translate3d(0px, 0px, 0px);
  background-color: rgb(58, 88, 151);
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  height: 48px;
  border-radius: 65px;
  font-size: 14px;
  letter-spacing: 2px;
}

.or__divider {
  display: table;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2px;
  margin: 0px auto 1em;
  color: rgb(117, 117, 117);
  position: relative;
  text-align: center;
  width: 85%;
}
.or__divider::before {
  border-top: 1px solid rgb(189, 189, 189);
  content: "";
  position: relative;
  display: inline-block;
  width: 180px;
  right: 10px;
  top: -2px;
}
.or__divider::after {
  border-top: 1px solid rgb(189, 189, 189);
  content: "";
  position: relative;
  display: inline-block;
  width: 180px;
  left: 10px;
  top: -2px;
}
.form__section > form > h2 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: 700;
  text-align: center;
  padding: 0px 0px 1em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.input__group {
  padding-bottom: 24px;
}
.bVfyrQ {
  fill: rgb(24, 24, 24);
  stroke: transparent;
  height: 40px;
}

.input__label {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.25px;
  -webkit-box-align: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  width: 100%;
}
.input__label > label {
  color: rgb(24, 24, 24);
  cursor: pointer;
}
.form__section > form {
  width: 40%;
}
.input__group > input {
  box-shadow: rgb(189 189 189) 0px 0px 0px 1px inset;
  appearance: none;
  background-image: none;
  border: 0px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.25px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: rgb(24, 24, 24);
  border-radius: 4px;
  padding: 14px;
}

.submit__button {
  padding: 1.1rem;
  border: 1px solid #ddd;
  width: 100%;
  background-color: #1ed760;
  font-weight: 700;
  color: #fff;
  border-radius: 65px;
  border: 0;
  outline: 0;
}
.auth__switcher {
  display: block;
  width: 50%;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.auth__switcher > a {
  font-weight: 400;
  color: #1ed760;
}

.header__login__top {
  border-bottom: 1px solid #d9dadc;
  padding: 25px 0 10px;
  margin-bottom: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo__login {
  display: block;
  padding: 1.5rem;
  width: 200px;
  height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 566.93 170.04' width='567' height='171'%3E%3Cpath d='M87.996 1.277c-46.249 0-83.743 37.493-83.743 83.742 0 46.254 37.494 83.745 83.743 83.745 46.251 0 83.743-37.491 83.743-83.745 0-46.246-37.49-83.738-83.744-83.738zm38.404 120.78a5.217 5.217 0 0 1-7.177 1.737c-19.665-12.019-44.417-14.734-73.567-8.075a5.217 5.217 0 0 1-6.249-3.925 5.212 5.212 0 0 1 3.926-6.249c31.9-7.293 59.263-4.154 81.336 9.334 2.46 1.51 3.24 4.72 1.73 7.18zm10.25-22.799c-1.894 3.073-5.912 4.037-8.981 2.15-22.505-13.834-56.822-17.841-83.447-9.759-3.453 1.043-7.1-.903-8.148-4.35a6.538 6.538 0 0 1 4.354-8.143c30.413-9.228 68.221-4.758 94.071 11.127 3.07 1.89 4.04 5.91 2.15 8.976zm.88-23.744c-26.994-16.031-71.52-17.505-97.289-9.684-4.138 1.255-8.514-1.081-9.768-5.219a7.835 7.835 0 0 1 5.221-9.771c29.581-8.98 78.756-7.245 109.83 11.202a7.833 7.833 0 0 1 2.737 10.733c-2.2 3.722-7.02 4.949-10.73 2.739zm94.56 3.072c-14.459-3.448-17.033-5.868-17.033-10.953 0-4.804 4.523-8.037 11.249-8.037 6.52 0 12.985 2.455 19.763 7.509a.945.945 0 0 0 .715.174.934.934 0 0 0 .625-.386l7.06-9.952a.949.949 0 0 0-.18-1.288c-8.067-6.473-17.151-9.62-27.769-9.62-15.612 0-26.517 9.369-26.517 22.774 0 14.375 9.407 19.465 25.663 23.394 13.836 3.187 16.171 5.857 16.171 10.63 0 5.289-4.722 8.577-12.321 8.577-8.44 0-15.324-2.843-23.025-9.512a.992.992 0 0 0-.695-.226.94.94 0 0 0-.65.334l-7.916 9.421a.94.94 0 0 0 .094 1.313c8.96 7.999 19.98 12.224 31.872 12.224 16.823 0 27.694-9.192 27.694-23.419.03-12.01-7.16-18.66-24.77-22.944zm62.86-14.26c-7.292 0-13.273 2.872-18.205 8.757v-6.624a.949.949 0 0 0-.946-.949h-12.947a.948.948 0 0 0-.946.949v73.602c0 .523.423.949.946.949h12.947a.949.949 0 0 0 .946-.949v-23.233c4.933 5.536 10.915 8.241 18.205 8.241 13.549 0 27.265-10.43 27.265-30.368.02-19.943-13.7-30.376-27.25-30.376zm12.21 30.375c0 10.153-6.254 17.238-15.209 17.238-8.853 0-15.531-7.407-15.531-17.238 0-9.83 6.678-17.238 15.531-17.238 8.81-.001 15.21 7.247 15.21 17.237zm50.21-30.375c-17.449 0-31.119 13.436-31.119 30.592 0 16.969 13.576 30.264 30.905 30.264 17.511 0 31.223-13.391 31.223-30.481 0-17.031-13.62-30.373-31.01-30.373zm0 47.714c-9.281 0-16.278-7.457-16.278-17.344 0-9.929 6.755-17.134 16.064-17.134 9.341 0 16.385 7.457 16.385 17.351 0 9.927-6.8 17.127-16.17 17.127zm68.27-46.53h-14.247V50.944a.947.947 0 0 0-.945-.948h-12.945a.95.95 0 0 0-.949.948V65.51h-6.225a.947.947 0 0 0-.943.949v11.127c0 .522.422.949.943.949h6.225v28.791c0 11.635 5.791 17.534 17.212 17.534 4.644 0 8.497-.959 12.128-3.018a.944.944 0 0 0 .478-.821v-10.596a.948.948 0 0 0-1.372-.85c-2.494 1.255-4.905 1.834-7.6 1.834-4.154 0-6.007-1.886-6.007-6.113V78.54h14.247a.946.946 0 0 0 .944-.949V66.465a.918.918 0 0 0-.93-.949zm49.64.057v-1.789c0-5.263 2.018-7.61 6.544-7.61 2.699 0 4.867.536 7.295 1.346a.946.946 0 0 0 1.245-.902v-10.91a.947.947 0 0 0-.67-.909c-2.565-.763-5.847-1.546-10.761-1.546-11.958 0-18.279 6.734-18.279 19.467v2.74h-6.22a.952.952 0 0 0-.95.948v11.184c0 .522.428.949.95.949h6.22v44.409c0 .523.422.949.944.949h12.947a.95.95 0 0 0 .949-.949V78.538h12.088l18.517 44.398c-2.102 4.665-4.169 5.593-6.991 5.593-2.281 0-4.683-.681-7.139-2.025a.972.972 0 0 0-.754-.071.957.957 0 0 0-.56.511l-4.388 9.627a.942.942 0 0 0 .408 1.225c4.581 2.481 8.716 3.54 13.827 3.54 9.56 0 14.844-4.453 19.502-16.433l22.461-58.04a.947.947 0 0 0-.879-1.293h-13.478a.951.951 0 0 0-.897.636l-13.807 39.438-15.123-39.464a.945.945 0 0 0-.884-.61h-22.12zm-28.78-.057h-12.947a.95.95 0 0 0-.949.949v56.485a.95.95 0 0 0 .949.949H446.5a.951.951 0 0 0 .949-.949V66.463a.947.947 0 0 0-.95-.949zm-6.4-25.719c-5.129 0-9.291 4.152-9.291 9.281 0 5.132 4.163 9.289 9.291 9.289 5.127 0 9.285-4.157 9.285-9.289 0-5.128-4.16-9.281-9.28-9.281zm113.42 43.88c-5.124 0-9.111-4.115-9.111-9.112s4.039-9.159 9.159-9.159a9.074 9.074 0 0 1 9.111 9.107c0 4.997-4.04 9.164-9.16 9.164zm.05-17.365c-4.667 0-8.198 3.71-8.198 8.253 0 4.541 3.506 8.201 8.151 8.201 4.666 0 8.201-3.707 8.201-8.253 0-4.541-3.51-8.201-8.15-8.201zm2.02 9.138l2.577 3.608h-2.173l-2.32-3.31h-1.995v3.31h-1.819v-9.564h4.265c2.222 0 3.683 1.137 3.683 3.051.01 1.568-.9 2.526-2.21 2.905zm-1.54-4.315h-2.372v3.025h2.372c1.184 0 1.891-.579 1.891-1.514 0-.984-.71-1.511-1.89-1.511z'/%3E%3C/svg%3E");
}

.container__fluid {
  width: 100%;
  margin: 0 auto;
}

.login__content {
  margin: 0 auto;
  max-width: 450px;
}
.heading__small > h2 {
  letter-spacing: normal;
  font-size: 16px;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
  margin-top: 10px;
  text-align: center;
}

.social__buttons {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.social__buttons a {
  padding: 0.8em;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 65px;
  align-content: center;
  margin-bottom: 10px;
  transition: all 0.5s ease-in-out;
}
.button_wrapper {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.button_wrapper > i {
  margin-right: 10px;
}

.social__buttons > a:nth-child(1) {
  background-color: rgb(58, 88, 151);
}
.social__buttons > a:nth-child(2) {
  background-color: rgb(15, 15, 15);
}
.social__buttons > a:nth-child(3),
a:nth-child(4) {
  background-color: transparent;
  color: #999 !important;
  border: 3px solid #ccc;
}
.social__buttons > a:nth-child(3):hover,
a:nth-child(4):hover {
  background-color: #ccc;
}

.login__content > form {
  width: 90%;
  margin: 0 auto;
}
.form__control {
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.forget__link {
  font-size: 16px;
  text-decoration: underline;
  font-weight: 500;
  color: rgb(82, 80, 80);
  letter-spacing: 1px;
}
.login__submit {
  padding: 1.2em;
  flex: 0.8;
  border-radius: 65px;
  border: 0;
  outline: none;
  background-color: #409e62;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
}
.login__submit:hover {
  background-color: #1ed760;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.113);
}

.divider__login {
  border-bottom: 0.1px solid #999;
  margin-top: 10px;
}
.auth__swticher__login {
  width: 100%;
  margin: 25px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth__swticher__login > h2 {
  font-size: 18px;
  font-family: inherit;
  font-weight: 900;
  line-height: 1.1;
  color: inherit;
}
.button__signup {
  padding: 1.1rem;
  border: 3px solid rgb(63, 62, 62);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 65px;
  transition: all 0.3s;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  color: rgb(37, 36, 36);
}
.button__signup:hover {
  background-color: #ccc;
}

@media (min-width: 768px) {
  .input__label {
    padding-bottom: 8px;
  }
  .button_wrapper {
    width: 65%;
  }

  .input__group > input {
    border-radius: 4px;
    padding: 14px;
  }
}

@media (max-width: 768px) {
  .form__section > form {
    width: 100%;
  }

  .or__divider::after {
    border-top: 1px solid rgb(189, 189, 189);
    content: "";
    position: relative;
    display: inline-block;
    width: 90px;
    left: 10px;
    top: -2px;
  }

  .or__divider::before {
    border-top: 1px solid rgb(189, 189, 189);
    content: "";
    position: relative;
    display: inline-block;
    width: 90px;
    right: 10px;
    top: -2px;
  }

  .facebook__signup__button > a {
    width: 350px;
  }
}
@media (min-width: 1200px) {
  .feature__subtitle {
    margin-top: 0px;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .feature__subtitle {
    width: 85%;
  }
}

@media (min-width: 1200px) {
  .list__image {
    display: block;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }
}

@media (min-width: 1200px) {
  .hero__middle__feature_list {
    vertical-align: top;
    display: block;
    width: 270px;
  }
}

@media (min-width: 768px) {
  .hero__middle__feature_list {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .hero__middle__features {
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .hero__middle__features {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .hero__article__wrapper {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .hero__article__wrapper {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .hero__middle__header {
    margin-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .hero__article__wrapper {
    width: 750px;
    padding-top: 75px;
    padding-left: 15px;
    padding-bottom: 75px;
    padding-right: 15px;
  }
}

@media (min-width: 480px) {
  .dWaIOV {
    width: auto;
    margin-top: 30px;
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .hrKHap {
    width: 1170px;
  }
}

@media (min-width: 768px) {
  .toggle {
    display: none !important;
  }
  .sidenav {
    display: none !important;
  }
  .footer__nav {
    display: grid;
  }
  .footer__links {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .heading__first > h1 {
    font-size: 65px;
  }
  .heading__second > h1 {
    font-size: 65px;
  }
  .heading__first {
    height: 105px;
  }
  .centered {
    width: 95%;
    margin: 0 auto;
  }
  .heading__second {
    justify-content: flex-start;
  }
  .links {
    display: none;
  }
  .header__top__heading > h1 {
    font-size: 28px;
  }
  .header__top__subheading > h2 {
    font-size: 18px;
  }
  .button__start,
  .button__plans {
    padding: 0.5rem;
    width: 290px;
    height: 55px;
  }
  .navbar_wrapper {
    height: 55px;
  }
  .logo__image {
    width: 110px;
  }
  .heading__first {
    margin-bottom: 5px;
  }
  .home__hero {
    align-items: flex-start;
  }
}
